<!--네비게이션 바 셋팅-->
<nav class="navbar navbar-default" style="border-radius: 0">
  <div class="container-fluid">
    <div style="position: absolute; padding-left:10px; padding-top:7px">
      <%= link_to root_path do %>
        <i class="fa fa-times" aria-hidden="true" style="font-size: 22pt;"></i>
      <% end %>
    </div>
    
      <div id="title">
        <i class="fa fa-search" aria-hidden="true"></i>&nbsp;전국 대학 축제
      </div>
  </div>
</nav>