<h3>검색 결과</h3>
<p>검색조건에 만족하는 학교별 일정입니다.</p>
<table class="table" id="result-table">
  <tbody>
    <tr>
      <th>대학</th>
      <th>일정</th>
      <th>초대 가수</th>
      <th></th>
    </tr>
    <%= render partial: '/home/result_item' %>
  </tbody>
</table>