<table class="table" id="result-table">
  <tbody>
    <tr>
      <th>대학</th>
      <th>일정</th>
      <th>초대 가수</th>
      <th></th>
    </tr>
    <%= render partial: '/home/result_item' %>
  </tbody>
</table>