<table class="table" id="result-table">
  <tr>
    <th style="width: 27%">대학</th>
    <th style="width: 20%">일정</th>
    <th>라인업</th>
    <th></th>
  </tr>
  <%= render partial: '/home/result_item' %>
</table>