<div class="container-box">
    <%= render 'home/navbar' %>
    
    <div class="content-box">
        <%= render 'home/search_area' %>
    
    
      <div id="search-result" class="result-table">
        <%= render(partial: "/home/result_area") %>
      </div>
      <div class="paginate">
        <%= paginate @fs, remote: true %>
      </div>
    
    </div>
    
    
</div>