      function monkeyPatchAutocomplete() {

          $.ui.autocomplete.prototype._renderItem = function( ul, item) {
              var re = new RegExp("^" + this.term, "i") ;
              var color_string = item.label.replace(re,"<span style='font-weight:bold;color:Blue;'>" + this.term + "</span>");
              return $( "<li></li>" )
                  .data( "item.autocomplete", item )
                  .append( "<a>" + color_string + "</a>" )
                  .appendTo( ul );
          };
      }
      $(document).ready(function() {

          monkeyPatchAutocomplete();

          $("#univ").autocomplete({
              focus: function(event, ui) {
                return false;
              },
              source: function(req, responseFn) {
                  var re = $.ui.autocomplete.escapeRegex(req.term);
                  var matcher = new RegExp( "^" + re, "i" );
                  var data_list = <%=raw Univ.all.pluck(:name)%>;
                  var return_data = $.grep( data_list, function(item,index){
                      return matcher.test(item);
                  });
                  responseFn( return_data );
              }
          });
          
          $("#celeb").autocomplete({
              focus: function(event, ui) {
                return false;
              },
              source: function(req, responseFn) {
                  var re = $.ui.autocomplete.escapeRegex(req.term);
                  var matcher = new RegExp( "^" + re, "i" );
                  var data_list = <%=raw Celeb.all.pluck(:name)%>;
                  var return_data = $.grep( data_list, function(item,index){
                      return matcher.test(item);
                  });
                  responseFn( return_data );
              }
          });
      });