      function monkeyPatchAutocomplete() {

          $.ui.autocomplete.prototype._renderItem = function( ul, item) {
                            
              var re = new RegExp( "(" + this.term + ")", "gi" );
              var color_string = item.label.replace(re,"<span style='font-weight:bold;color:Blue;'>" + this.term + "</span>");
              return $( "<li></li>" )
                  .data( "item.autocomplete", item )
                  .append( "<a>" + color_string + "</a>" )
                  .appendTo( ul );
          };
      }
      $(document).ready(function() {

          monkeyPatchAutocomplete();
          $(function() {
            $.ajax({
              url: '/home/get_name',
              success: function(data) {
                if( data.result == true ) {
                  var data_list_univ = data.univs;
                  var data_list_celeb = data.celebs;
                  $("#univ").autocomplete({
                    source: data_list_univ
                  });
                  $("#celeb").autocomplete({
                    source: data_list_celeb
                  });
                }
              },
              error : function(xhr, status, error) {
                alert("에러발생");
              }
            });

              
        });
      });