      function monkeyPatchAutocomplete() {

          $.ui.autocomplete.prototype._renderItem = function( ul, item) {
                            
              var re = new RegExp( "(" + this.term + ")", "gi" );
              var color_string = item.label.replace(re,"<span style='font-weight:bold;color: #EA4C89;'>" + this.term + "</span>");
              return $( "<li></li>" )
                  .data( "item.autocomplete", item )
                  .append( "<a>" + color_string + "</a>" )
                  .appendTo( ul );
          };
      }
      $(document).ready(function() {

          monkeyPatchAutocomplete();
          $(function() {
              var data_list_univ = <%=raw Univ.all.pluck(:name)%>;
              var data_list_celeb = <%=raw Celeb.all.pluck(:name)%>;
              $( "#univ" ).autocomplete({
                  source: data_list_univ,
                  close: function() {
                    $('#univ').autocomplete('close');
                  }
              });
              $( "#celeb" ).autocomplete({
                  source: data_list_celeb
                  close: function() {
                    $('#celeb').autocomplete('close');
                  }
              });
              
        });
      });