/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * 
 */
@import "bootstrap-sprockets";
@import 'bootstrap';
@import "font-awesome";
@import 'party';
@import 'customFlatUi';
@import 'navbar';
@import 'home';
@import 'fonts';

body {
  font-family: "nanum_light";
  color: #4d4d4d;
  font-size: 13pt;
  background-color: #f4f3ef;
  position: relative;
  margin: 0;
  //padding-bottom: 6rem;
  min-height: 100%;
}

//전체 레이아웃 너비 조정
@media (min-width: 600px) {
    .container-box {
    width: 600px;
    margin:0 auto;
    background-color: #fff;
    }
    .footer-image-box {
        padding-left: 30px;
    }
    .footer-maker-box {
        padding-left: 20px;
    }
}
@media (max-width: 599px) {
    .container-box {
    width: 100%;
    margin:0 auto;
    background-color: #fff;
    }
    .footer-image-box {
        padding-left: 40px;
    }
    .footer-maker-box {
        padding-left: 40px;
        margin-top: 10px;
    }
    
}
//전체 레이아웃 너비 조정
// #footer {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   padding: 1rem;
//   text-align: center;
// }
// #wrapper {
//   min-height: 100%;
//   position:relative;
//   width: 600px;
//   margin: 0 auto;
//   background:#fff;
// }