// 디테일 페이지 테이블
#detail-table tr td {
  color: #4d4d4d;    
  font-size: 15px;
}
#detail-table tr th {    
  font-size: 15px;
}
// 디테일 페이지 타이틀
#detail-title {
  color: #ea4c89;
  font-size: 18pt;
  font-family: 'nanum_bold';
  text-align: center;
}
#detail-table {
  text-align: center;
}