@font-face {
    font-family: 'bm_jua';
    src: font-url('bm_jua.otf') format('opentype');
    src: font-url('bm_jua.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanum_bold';
    src: font-url('NanumBarunGothicBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanum_light';
    src: font-url('NanumBarunGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}