// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//전체 레이아웃 너비 조정
@media (min-width: 600px) {
    .container-box {
    width: 600px;
    margin:0 auto;
    background-color: #fff;
    }
}
@media (max-width: 599px) {
    .container-box {
    width: 100%;
    margin:0 auto;
    background-color: #fff;
    }
}
//전체 레이아웃 너비 조정

//섹션별 마진 설정
.content-box {
    margin-left:15px;
    margin-right:15px;
}
.content-box {
    margin-left:15px;
    margin-right:15px;
}
.result-table {
    margin-top: 30px;   
}
//섹션별 마진 설정

//form 마진 설정

#from, #to, #univ, #celeb {
 margin-bottom: 10px;   
}