// Place all the styles related to the visitor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.outer {
      display: table;
      width: 100%;
      height: 100%;
    }
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.centered {
  position: relative;
  display: inline-block;
  padding: 1em;
  background: #fff;
  color: #EA4C89;
}

#visitor-title {
  text-align: -webkit-center;
  text-align: center;
  font-size: 22pt;
  font-family: 'bm_jua';
  color: #EA4C89;
}

input:focus { color: #EA4C89 }

.univ-rank-title {
 margin-top: 26px;
 font-family: "bm_jua";
 color: #4d4d4d;
}
#univ-ranking {
  color: #4d4d4d;
}

.celeb-rank-title {
 margin-top: 26px; 
 font-family: "bm_jua";
 color: #4d4d4d;
}
#celeb-ranking {
  color: #4d4d4d;
}
.badge {
  background:  #EA4C89;
}