<div id="footer">
    <div class="row" style="margin: 0">
        <div class="col-xs-12 col-sm-6 footer-image-box">
          <%= image_tag("likelion_logo", width: '64') %>
          <%= image_tag("likelion_text", width: '150') %>
        </div>
        <div class="col-xs-12 col-sm-6 footer-maker-box">
          <p style="font-family: bm_jua;">만든이</p>
          <p style="font-family: bm_jua;">문승현, 민동준, 이윤형, 이정훈, 홍창남</p>
        </div>
    </div>
</div>
