<style type="text/css">
.loader {
  	position: fixed;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 9999;
  	background: center no-repeat #fff;
}
.loader-inner {
  top: 50%;
  left: 50%;
}
</style>
<div class="loader">
  <div class="loader-inner pacman"></div>
</div>
<script>
  $(window).load(function() {
  	// Animate loader off screen
  	  $('.loader-inner').loaders().fadeOut(800);
  	  $('.loader').fadeOut(800);
    });
</script>