<!--네비게이션 바 셋팅-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div id="title">
        <i class="fa fa-search" aria-hidden="true"></i>&nbsp;전국 대학 축제
      </div>
  </div>
</nav>